@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  background-color: #020202;
}

.board {
  display: flex;
  flex-direction: column;
}
@media (min-width: 810px) {
  .board {
    flex-direction: row;
  }
}
.board .column {
  margin: 10px;
  padding: 10px;
  min-width: 250px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  background-color: #252935;
}
.board .column .column-title {
  display: flex;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin: 0 0 40px 0;
  color: hsl(0, 0%, 100%);
}
.board .column .column-title .task-count {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: 0 10px;
  background-color: hsl(0, 0%, 100%);
  color: #252935;
  border-radius: 50%;
  font-size: 14px;
}
.board .task-form {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  height: 240px;
  margin: 10px;
  background-color: #020202;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.board .task-form .task-input {
  height: 44.8px;
  color: hsl(0, 0%, 100%);
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  background-color: #020202;
  cursor: pointer;
}
.board .task-form .task-input:focus {
  outline: 1.5px solid hsl(0, 0%, 100%);
}
.board .task-form .add-task-btn, .board .task-form .clear-tasks-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px 10px 10px;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background-color: #020202;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: background-color 0.3s;
}
.board .task-form .add-task-btn:hover, .board .task-form .clear-tasks-btn:hover {
  background-color: #242834;
}
.board .task-form .add-task-btn i, .board .task-form .clear-tasks-btn i {
  font-size: 20px;
}
.board .task-form .clear-tasks-btn:hover {
  background-color: hsla(12, 96%, 50%, 0.359);
}
.board .task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: hsl(0, 0%, 100%);
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  background-color: #020202;
  cursor: pointer;
  transition: background-color 0.3s;
}
.board .task:hover {
  background-color: #252935;
}
.board .task .task-content {
  font-weight: 600;
}
.board .task .delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  background-color: #020202;
  border-radius: 50%;
  border: none;
  transition: background-color 0.3s, color 0.3s, border 0.2s;
  cursor: pointer;
}
.board .task .delete-button:hover {
  background-color: hsl(0, 0%, 100%);
  color: #020202;
  border: 2px solid #020202;
}

.is-dragging {
  opacity: 0.3;
}/*# sourceMappingURL=style.css.map */